*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ff-heading:'Staatliches', cursive;
    --ff-texting: 'Palanquin', sans-serif;

    --hue: 250;
    --bg-primary: #EFF1FF;
    --bg-secondary: #8E9AAF;
    --fc-primary:  #FEEAFA;
    --fc-secondary: #FFFFFF;
    --fc-secondary-dark: #4A4E69;

    font-size: 62.5%;
    --fs-body:1.6rem;
    --fs-card:2.0rem;
    --fs-heading: clamp(4rem,1rem + 5vw,5.6rem);
    --fs-heading-sm: clamp(1rem,0.5rem + 2vw,5rem);
}

body{
    background-color: var(--bg-primary);
    font-family: var(--ff-heading);

}

.page{
    display: inline-flex;
}

header{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;

    align-items: center;
    background: var(--bg-secondary);
}

header img{
    margin: 32px auto 110px;

    animation: topdown 2s 350ms backwards;
}

header h1{
    position: absolute;
    top: 22.5rem;
    width: 100%;
    text-align: center;
    background-color: #CBC0D3;
    font-weight: 400;
    font-size: var(--fs-heading);
    line-height: 4.8rem;
    padding: 8px;

    text-transform: uppercase;
    letter-spacing: 0.05em;

    color: var(--fc-secondary);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    animation: transparencia 5s 200ms backwards;
}

header p{
    
    padding: 32px 54px 63px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    /* or 83% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    animation: transparencia 4s 500ms backwards;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 190px;
    gap: 10px;
    margin: 60px auto;
    padding: 15px;

    grid-template-areas:
        "a b c"
        "d b f"
        "d e f"
        "d g f";
}

main div:nth-child(1){
    grid-area: a;
}

main div:nth-child(2){
    grid-area: b;
}

main div:nth-child(3){
    grid-area: c;
}

main div:nth-child(4){
    grid-area: d;
}

main div:nth-child(5){
    grid-area: e;
}

main div:nth-child(6){
    grid-area: f;
}

main div:nth-child(7){
    grid-area: g;
}

.card{
    position: relative;
    font-family: var(--ff-heading);
}

.card img{
    object-fit: cover;
    border-radius: 20px;

    animation: downtop 700ms 350ms backwards;
}

main footer p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #4A4E69;

    mix-blend-mode: normal;

    animation: transparencia 4s 500ms backwards;
}

@keyframes transparencia{
    0%{
        opacity: 0;
    }
}

@keyframes topdown{
    0%{
        opacity: 0;
        transform: translateX(-500px);
    }
}

@keyframes downtop{
    0%{
        opacity: 0;
        transform: translateY(500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media(min-width: 700px){
    /* .page{
        max-width: 117rem;
        padding: 0 5rem;
    } */
    
    main{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 930px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 250px;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g";
    }

    main div:nth-child(1){
        grid-area: a;
    }

    main div:nth-child(2){
        grid-area: b;
    }

    main div:nth-child(3){
        grid-area: c;
    }

    main div:nth-child(4){
        grid-area: d;
    }

    main div:nth-child(5){
        grid-area: e;
    }
    
    main div:nth-child(6){
        grid-area: f;
    }
    
    main div:nth-child(7){
        grid-area: g;
    }
}